p{
	font-size: 18px; font-family: Arial; color: orange;

}

div{
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #BCD2EE;
	height: 50px;
	width: 120px;
	margin: auto;
	text-align: center;
}
span{
	color: brown; font-weight: bold; font-size: 20px;
}
a {
	font-family: sans-serif; color: white
}
